bin/
obj/
.vs/
*.apk
*.user
*.lock.json
*.bak
Debug/
*.sdf
*.VC.opendb
*.filters
/Src/MassiveAttack.VC.db
node_modules/
*.js
*.js.map
typings/
/Game/MassiveAttack.Client.ilk
/Game/MassiveAttack.Client.pdb
